.header-container {
  height: 20vh;
  width: 100vw;
  margin: 0 auto;
  background-color: orange;
  color: white;
  font-weight: 400;
}

header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 80px;
  border-radius: 10%;
}

header > nav {
  width: 200px;
}
header > nav > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-weight:bolder;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

.base {
  background-color: #f6f6f6;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  height: 60%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  border-radius: 10%;
}

.form-container > form {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.post-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  color: white;
  background-color: orange;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;

}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 100px;
}

.vote > img {
  height: 30px;
}

.post-img {
  height: 300px;
}

.new-post {
  display: flex;
  
}
